html {
  scroll-behavior: smooth;
}

* {
  box-sizing: unset;
}

body {
  margin: 0px;
}

/* HEADER + BANNER */

.header {
  position: relative;
  text-align: center;
  color: white;
}
#header-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1,
p,
a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}
#header-text > h1 {
  font-weight: normal;
  font-size: 38px;
}
#header-text > p {
  font-weight: 100;
}
.header > img {
  width: 100%;
  height: 492px;
  object-fit: cover;
  object-position: 100% 0%;
  filter: brightness(0.5);
}

/* NAV BAR */

.topnav {
  margin-top: -5px;
  display: grid;
  grid-template-columns: 20% 10% 10% 20% 10% 10% 20%;
  height: 60px;
}

.topnav > a > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
.topnav > a > div > h1 {
  font-weight: 500;
}

.topnav > a > div > p {
  color: lightgray;
  font-size: 10px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(58, 58, 58);
  border-left: 1px lightgray solid;
  font-size: 12px;
  font-weight: 500;
}
.nav-items:last-of-type {
  border-right: 1px lightgray solid;
}
.nav-icons {
  color: rgb(41, 182, 234);
}

/* INFO SECTION */

#info {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: lightcyan;
  width: 100%;
  height: 400px;
}

.info-items-content > p {
  display: inline-block;
}

.info-items {
  padding: 80px 30px 0px 40px;
  line-height: 25px;
  font-size: 14px;
  letter-spacing: -0.3px;
}

.info-items > h1 {
  margin-bottom: 40px;
  font-weight: normal;
  font-weight: 500;
  font-size: 26px;
}

.gray-txt {
  color: gray;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-weight: 400;
}

.info-icons-container {
  margin-top: 25px;
  color: rgb(34, 162, 208);
}

#info-1 {
  background-color: rgb(246, 246, 246);
}
#info-2 {
  background-color: rgb(235, 235, 235);
}

/* BIOGRAPHY SECTION */

#biography {
  width: 100%;
  max-height: min-content;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 21% 21% 21%;
  /*grid-template-rows: 58% 36%;*/
  justify-content: center;
  column-gap: 25px;
  row-gap: 25px;
  padding: 40px 0px 80px 0px;
}

.bio-items {
  background-color: rgb(255, 255, 255);
  border: 2px rgb(242, 242, 242) solid;
  padding: 50px 20px 0px 25px;
  height: min-content;
}

.bio-ul {
  display: none;
  padding-inline-start: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bio-li {
  margin-bottom: 30px;
  color: rgb(92, 92, 92);
  font-weight: 500;
}
.bio-li::marker {
  color: rgb(34, 162, 208);
}
.bio-header {
  display: grid;
  grid-template-columns: 75% 25%;
}

.bio-header > h1 {
  font-size: 25px;
  margin-bottom: 30px;
  color: rgb(92, 92, 92);
}

.bio-icon {
  font-size: 36px;
  justify-self: center;
  color: rgb(177, 177, 177);
}

.bio-date {
  display: flex;
  font-size: 12px;
  color: gray;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 10px;
  font-weight: 400;
}

.bio-highlight {
  margin-left: 4px;
  padding: 0px 10px 2px;
  background-color: rgb(41, 182, 234);
  color: white;
  border-radius: 8px;
}

.hobby-container {
  display: flex;
}

.hobby-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 7px;
  font-size: 12px;
  color: gray;
}

.hobby-items:first-of-type {
  margin-left: 0px;
}

.hobby-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 45px;
  height: 45px;
  margin-bottom: 3px;
  border-radius: 50%;
  border: rgb(41, 182, 234) 1px solid;
  color: rgb(41, 182, 234);
}

.bio-text-bar {
  font-size: 12px;
  margin: 0px 0px 10px 0px;
}

.bio-bar {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5%;
  height: 2.4px;
  width: 60%;
}

.bar {
  height: 100%;
  width: 100%;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
}

.bar-active {
  background-color: rgb(41, 182, 234);
}

/* ACHIVEMENT SECTION */

#achievements {
  width: 100%;
  height: 400px;
  background-color: rgb(241, 241, 241);
  display: grid;
  grid-template-columns: 35% 31%;
  grid-template-rows: 20% 40% 40%;
  justify-content: center;
  padding: 30px 0px;
}

#achievements > h1 {
  align-self: center;
  color: rgb(89, 89, 89);
}

.achieve-items {
  display: flex;
  padding: 25px 0px;
  border-bottom: 1px #d6c08d solid;
}

.achieve-items:nth-of-type(3) > img {
  border-left: 1px #d6c08d solid;
  padding-left: 10px;
}

.achieve-items:nth-of-type(3) {
  border-right: none;
}

.achieve-items:last-of-type {
  border-bottom: none;
  border-right: none;
}

.achieve-items > img {
  max-width: 200px;
  height: auto;
}

.achieve-text {
  margin-left: 20px;
  font-size: 13px;
  font-weight: 500;
}

.achieve-p {
  margin-top: 10px;
  color: rgb(89, 89, 89);
}

/* PROJECT SECTION */

#projects {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

#projects h1 {
  position: inherit;
  align-self: flex-start;
  margin-left: 17%;
  margin-bottom: 40px;
  color: rgb(89, 89, 89);
}

.projects-container {
  height: min-content;
  width: 66%;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.project-items {
  display: flex;
  flex-direction: column;
  color: gray;
  max-width: 30%;
}

.project-items > img {
  height: 180px;
  width: 100%;
}

.project-items > div,
.project-items > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.project-title {
  justify-content: left !important;
  font-weight: 500;
  color: rgb(69, 69, 69);
  padding: 15px 10px !important;
}

.project-items > div {
  padding: 10px;
  border: 1px lightgray solid;
}

.project-icon {
  font-size: 16px;
}

.project-date {
  background-color: rgb(41, 182, 234);
  font-size: 10px;
  padding: 5px 10px;
  color: white;
  border-radius: 20px;
}

.project-items > table {
  height: 40%;
}

.project-items > table,
th,
td {
  border-collapse: collapse;
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
}

th {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 5px;
}

table {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

/* FOOTER SECTION */

#footer {
  width: 100%;
  height: 100px;
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

.footer-div {
  display: flex;
  align-items: center;
  color: gray;
  text-decoration: none;
}

.footer-div i {
  font-size: 30px;
  color: rgb(41, 182, 234);
}

/* ADDITIONAL */

.nav-img {
  position: absolute;
  left: 45%;
  top: 63.5%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px white solid;
  box-shadow: 0px 0px 5px #8888;
}

.hidden {
  display: none;
}

/* JS */

.info-2-hide {
  display: none;
}

.btn-warning {
  margin-top: 10px;
  visibility: hidden;
  margin-bottom: 20px;
}

.bio-items:hover > .view-button> .btn-warning {
  visibility: visible;
}

.btn-info {
  border-radius: 8px;
  margin: 10px 0px;
  font-size: 15px;
}

#email {
  border: solid 2px #b6b6b6;
  width: 300px;
  padding: 5px;
  border-radius: 4px;
}